.article
  &-list
    margin: 0
    margin-top: 180px
    padding: 0
    list-style: none
    display: flex
    align-items: center
    background-color: #30363D
    border-radius: 10px
  &-item
    width: 25%
    display: flex
    align-items: center
    padding: 30px 25px 30px
  &-permalink
    text-decoration: none
    color: #ffffff
    padding: 12px 25px 48px
  &-title
    margin: 0
